body {

    font-family: Arial, sans-serif;

    font-size: 100%;

    margin: 20px;

  }
  
  /*.container {

    max-width: 800px;

    margin: auto;

  }*/
  
  .section {

    margin-bottom: 20px;

  }

  .nav-links li {
  
    list-style: none;
  
  }

  .nav-links a {
  
    color: rgb(28, 23, 76);
  
    text-decoration: none;
  
    letter-spacing: 3px;
  
    font-weight: bold;
  
    font-size: 18px;
  
    padding: 14px 16px;
  
  }
  
  .nav-links a:hover:not(.active) {
  
    background-color: rgb(47, 99, 133);
  
  }
  
  h1 {

    text-align: center;

  }

  h1 {

    color: rgb(248, 242, 254);

    font-size: 250%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
  
  h2 {

    margin-top: 0px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }
  
  table {

    width: 100%;

    border-collapse: collapse;

    margin-bottom: 10px;

    font-weight: bolder;

  }
  
  table, th, td {

    border: 1px solid black;

    padding: 8px;

    text-align: center;

  }

  .body-text {
  
    display: flex;
  
    font-family: "Montserrat", sans-serif;
  
    align-items: center;
  
    justify-content: center;
  
    margin-top: 50px;

    margin-bottom: 30px;

    color: black;

  
  }
  
  #continue-button {

    display: block;

    margin: 20px auto;

    padding: 10px 20px;

    font-size: 16px;

    cursor: pointer;

  }
  
  #continue-button[disabled] {

    opacity: 2;

    pointer-events: none;

  }

  header {

    background-color: #333;

    color: #fff;

    padding: 10px;

    text-align: center;
}

input[type="number"]{

  width: 30%;

  padding: 12px;

  margin-bottom: 10px;

  margin-top: 5px;

  border-radius: 6px;

  border: 1px solid #3a2b2b;

}

.mainsection{

  display: flex;

  flex-direction: row;

  margin: 0 auto;

  padding: 20px;

}

.section1{

  flex: 1;

  padding: 20px;

}

.section2{

  flex: 1;

  padding: 20px;

}
  
   /*media quary*/

   @media screen and (max-width:1000px) and (min-width:300px) {
    
   }